

body{
    text-align: justify;
    font-size: 1rem;
    font-family: 'Open Sans';
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h1{
    text-align: center;
}
p, h1, h2, h3, h4, h5, h6{
    color: rgb(50, 73, 3);
    
}

p{
    text-indent: 3rem;
}

.direita{
    text-align: right;
    line-height: 0.25;
}

.github {
    list-style-image: url(imagens/github.png);
    list-style-position: inside;
    line-height: 1.5;
}

.instagram {
    list-style-image: url(imagens/instagram.png);
    list-style-position: inside;
    line-height: 1.5;
}

.linkedin {
    list-style-image: url(imagens/linkedin.png);
    list-style-position: inside;
    line-height: 1.5;

}

.whatsapp {
    list-style-image: url(imagens/whatsapp.png);
    list-style-position: inside;
    line-height: 1.5;
}

.x {
    list-style-image: url(imagens/x_twitter.png);
    list-style-position: inside;
    line-height: 1.5;
}

.rodape1{
    text-align: center;
    font-size: .75rem;
    line-height: 0.5em;
    text-transform: uppercase;
}

.rodape2{
    text-align: center;
    font-size: .75rem;
    line-height: 0.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: blue;
}

a:hover, a:active {
    text-decoration: underline;
    color: white;
    background-color: blue;
}
